/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log

# rspec failure tracking
.rspec_status
/ext/xmp_toolkit_ruby/XMP-Toolkit-SDK/build/
/ext/xmp_toolkit_ruby/XMP-Toolkit-SDK/XMPCommon/
/ext/xmp_toolkit_ruby/XMP-Toolkit-SDK/XMPCore/
/ext/xmp_toolkit_ruby/XMP-Toolkit-SDK/XMPFiles/
/ext/xmp_toolkit_ruby/XMP-Toolkit-SDK/source/
